# Data Cleaning and Preprocessing

This notebook's goal is to clean and preprocess the NHANES (August 2021 - August 2023) dataset to prepare it for use in a machine learning model aimed at predicting diabetes risk.

### Key Columns
SEQN - Respondent sequence number

## Table of Contents
1. [Importing Libraries](#import-libraries)
2. [Loading the Dataset](#loading-the-dataset)
3. [Initial Data Exploration](#data-exploration)
4. [Data Cleaning](#data-cleaning)
5. [Data Preprocessing]()
6. [Exploratory Data Analysis (EDA)]#eda)

# Import Libraries

In [2]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns
import os

# Loading the dataset

In [20]:
folder_path = '../data/raw/csv_files/'

# list csv files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

merged_df = None
# Load each csv file into a pandas dataframe and merge on 'SEQN' column
for csv_file in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    df = pd.read_csv(file_path)

    if merged_df is None:
        merged_df = df
    else:
        merged_df = pd.merge(merged_df, df, on='SEQN', how='outer')

# Data Exploration

In [21]:
# Check merged dataframe structure
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11933 entries, 0 to 11932
Data columns (total 81 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      11933 non-null  float64
 1   ALQ111    5481 non-null   float64
 2   ALQ121    4922 non-null   float64
 3   ALQ130    4069 non-null   float64
 4   ALQ142    4082 non-null   float64
 5   ALQ270    2366 non-null   float64
 6   ALQ280    2362 non-null   float64
 7   ALQ151    4901 non-null   float64
 8   ALQ170    2358 non-null   float64
 9   BPQ020    8498 non-null   float64
 10  BPQ030    2968 non-null   float64
 11  BPQ150    2969 non-null   float64
 12  BPQ080    8498 non-null   float64
 13  BPQ101D   8498 non-null   float64
 14  DBQ010    1441 non-null   float64
 15  DBD030    1121 non-null   float64
 16  DBD041    1441 non-null   float64
 17  DBD050    1153 non-null   float64
 18  DBD055    1440 non-null   float64
 19  DBD061    1356 non-null   float64
 20  DBQ073A   869 non-null    float64
 21  DBQ073B   180 non-null    float64
 22  DBQ073C   66 non-null     float64
 23  DBQ073D   16 non-null     float64
 24  DBQ073E   21 non-null     float64
 25  DBQ073U   82 non-null     float64
 26  DBQ301    3500 non-null   float64
 27  DBQ330    3500 non-null   float64
 28  DBQ360    3357 non-null   float64
 29  DBQ370    2762 non-null   float64
 30  DBD381    2643 non-null   float64
 31  DBQ390    2159 non-null   float64
 32  DBQ400    2762 non-null   float64
 33  DBD411    2378 non-null   float64
 34  DBQ421    1400 non-null   float64
 35  DBQ424    1780 non-null   float64
 36  DBQ930    8486 non-null   float64
 37  DBQ935    8486 non-null   float64
 38  DBQ940    8486 non-null   float64
 39  DBQ945    8486 non-null   float64
 40  DIQ010    11740 non-null  float64
 41  DID040    1081 non-null   float64
 42  DIQ160    8022 non-null   float64
 43  DIQ180    8304 non-null   float64
 44  DIQ050    1081 non-null   float64
 45  DID060    343 non-null    float64
 46  DIQ060U   332 non-null    float64
 47  DIQ070    2281 non-null   float64
 48  DPQ010    5519 non-null   float64
 49  DPQ020    5518 non-null   float64
 50  DPQ030    5516 non-null   float64
 51  DPQ040    5514 non-null   float64
 52  DPQ050    5513 non-null   float64
 53  DPQ060    5510 non-null   float64
 54  DPQ070    5508 non-null   float64
 55  DPQ080    5508 non-null   float64
 56  DPQ090    5506 non-null   float64
 57  DPQ100    4167 non-null   float64
 58  HSQ590    5751 non-null   float64
 59  INDFMMPI  8989 non-null   float64
 60  INDFMMPC  10464 non-null  float64
 61  INQ300    10468 non-null  float64
 62  IND310    5650 non-null   float64
 63  PAD790Q   8135 non-null   float64
 64  PAD790U   6390 non-null   object
 65  PAD800    6390 non-null   float64
 66  PAD810Q   8139 non-null   float64
 67  PAD810U   3686 non-null   object
 68  PAD820    3687 non-null   float64
 69  PAD680    8138 non-null   float64
 70  SMQ020    8135 non-null   float64
 71  SMQ040    3243 non-null   float64
 72  SMD641    273 non-null    float64
 73  SMD650    1185 non-null   float64
 74  SMD100MN  1175 non-null   float64
 75  SMQ621    772 non-null    float64
 76  SMD630    23 non-null     float64
 77  SMAQUEX2  9015 non-null   float64
 78  WTPH2YR   8068 non-null   float64
 79  LBXTC     6890 non-null   float64
 80  LBDTCSI   6890 non-null   float64
dtypes: float64(79), object(2)
memory usage: 7.4+ MB

In [22]:
# Show the first 5 rows of the merged dataframe
merged_df.head()

,SEQN,ALQ111,ALQ121,ALQ130,ALQ142,ALQ270,ALQ280,ALQ151,ALQ170,BPQ020,...,SMQ040,SMD641,SMD650,SMD100MN,SMQ621,SMD630,SMAQUEX2,WTPH2YR,LBXTC,LBDTCSI
0,130378.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,3.0,NaN,NaN,NaN,NaN,NaN,1.0,56042.129410,264.0,6.83
1,130379.0,1.0,2.0,3.0,0.0,NaN,NaN,2.0,NaN,1.0,...,3.0,NaN,NaN,NaN,NaN,NaN,1.0,37435.705647,214.0,5.53
2,130380.0,1.0,10.0,1.0,0.0,NaN,NaN,2.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,85328.844519,187.0,4.84
3,130381.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,130382.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Check for missing values
merged_df.isnull().sum()

SEQN            0
ALQ111       6452
ALQ121       7011
ALQ130       7864
ALQ142       7851
            ...
SMD630      11910
SMAQUEX2     2918
WTPH2YR      3865
LBXTC        5043
LBDTCSI      5043
Length: 81, dtype: int64

In [24]:
# Summary statistics
merged_df.describe()

,SEQN,ALQ111,ALQ121,ALQ130,ALQ142,ALQ270,ALQ280,ALQ151,ALQ170,BPQ020,...,SMQ040,SMD641,SMD650,SMD100MN,SMQ621,SMD630,SMAQUEX2,WTPH2YR,LBXTC,LBDTCSI
count,11933.000000,5481.000000,4922.000000,4069.000000,4082.000000,2366.000000,2362.000000,4901.000000,2358.000000,8498.000000,...,3243.000000,273.000000,1185.000000,1175.000000,772.000000,23.000000,9015.000000,8068.000000,6890.000000,6890.000000
mean,136344.000000,1.109104,5.030679,5.842959,4.742283,4.838123,3.545301,1.821261,4.396098,1.659449,...,2.339500,12.728938,18.998312,0.414468,1.281088,13.173913,1.095618,37744.395761,181.541074,4.694643
std,3444.904716,0.385114,4.314321,54.996448,7.326042,7.785415,7.133496,0.458352,45.252453,0.542253,...,0.900889,14.662369,86.343555,0.653359,3.599612,1.922408,0.294084,30937.952799,42.316140,1.094357
min,130378.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,0.000000,1.000000,0.000000,1.000000,9.000000,1.000000,0.000000,62.000000,1.600000
25%,133361.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,...,1.000000,3.000000,5.000000,0.000000,1.000000,12.000000,1.000000,18092.615464,151.000000,3.900000
50%,136344.000000,1.000000,5.000000,2.000000,4.000000,4.000000,0.000000,2.000000,1.000000,2.000000,...,3.000000,10.000000,10.000000,0.000000,1.000000,13.000000,1.000000,30264.726858,178.000000,4.600000
75%,139327.000000,1.000000,8.000000,3.000000,9.000000,9.000000,7.000000,2.000000,2.000000,2.000000,...,3.000000,20.000000,20.000000,1.000000,1.000000,14.000000,1.000000,49006.051233,207.000000,5.350000
max,142310.000000,9.000000,99.000000,999.000000,99.000000,99.000000,99.000000,9.000000,999.000000,9.000000,...,3.000000,99.000000,999.000000,9.000000,99.000000,16.000000,2.000000,241728.857241,438.000000,11.330000

# Data Cleaning